body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0px;
  margin: 0px;
  color: inherit;
  font-size: normal;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

a {
  color: black;
  color: black;
  text-decoration: none;
}

.flex, #header .header-navbar .header-navbar-menu ul, .column, .row {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column, .column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end, #header .header-navbar .header-navbar-menu ul {
  justify-content: flex-end;
}

.justify-content-center, .column {
  justify-content: center;
}

.justify-content-between, .row {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.flex-wrap, .row {
  flex-wrap: wrap;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.flex-grow {
  flex-grow: inherit;
}

.flex-shrink {
  flex-shrink: inherit;
}

.flex-basis {
  flex-basis: auto;
}

.flex-flow {
  flex-flow: inherit;
}

.align-items-center, #header .header-navbar .header-navbar-menu ul {
  align-items: center;
}

.p-size, #header .header-navbar .header-navbar-menu .header-navbar-logo ul img, #header .header-navbar .header-navbar-menu .header-navbar-logo ul, #header .header-navbar .header-navbar-menu ul {
  padding: 5px;
}

.p-size, #header .header-navbar .header-navbar-menu .header-navbar-logo ul img, #header .header-navbar .header-navbar-menu .header-navbar-logo ul, #header .header-navbar .header-navbar-menu ul {
  padding: 10px;
}

.p-size, #header .header-navbar .header-navbar-menu .header-navbar-logo ul img, #header .header-navbar .header-navbar-menu .header-navbar-logo ul, #header .header-navbar .header-navbar-menu ul {
  padding: 15px;
}

.p-size, #header .header-navbar .header-navbar-menu .header-navbar-logo ul img, #header .header-navbar .header-navbar-menu .header-navbar-logo ul, #header .header-navbar .header-navbar-menu ul {
  padding: 20px;
}

.p-size, #header .header-navbar .header-navbar-menu .header-navbar-logo ul img, #header .header-navbar .header-navbar-menu .header-navbar-logo ul, #header .header-navbar .header-navbar-menu ul {
  padding: 25px;
}

.p-size, #header .header-navbar .header-navbar-menu .header-navbar-logo ul img, #header .header-navbar .header-navbar-menu .header-navbar-logo ul, #header .header-navbar .header-navbar-menu ul {
  padding: 30px;
}

.p-size, #header .header-navbar .header-navbar-menu .header-navbar-logo ul img, #header .header-navbar .header-navbar-menu .header-navbar-logo ul, #header .header-navbar .header-navbar-menu ul {
  padding: 35px;
}

.px-5 {
  padding: 0px 5px !important;
}

.px-10 {
  padding: 0px 10px !important;
}

.px-15, #header .header-navbar .header-navbar-menu ul li a {
  padding: 0px 15px !important;
}

.px-20 {
  padding: 0px 20px !important;
}

.px-25 {
  padding: 0px 25px !important;
}

.px-30 {
  padding: 0px 30px !important;
}

.px-35 {
  padding: 0px 35px !important;
}

.py-size {
  padding: 5px 0px !important;
}

.py-size {
  padding: 10px 0px !important;
}

.py-size {
  padding: 15px 0px !important;
}

.py-size {
  padding: 20px 0px !important;
}

.py-size {
  padding: 25px 0px !important;
}

.py-size {
  padding: 30px 0px !important;
}

.py-size {
  padding: 35px 0px !important;
}

.pt-size {
  padding-top: 5px !important;
}

.pt-size {
  padding-top: 10px !important;
}

.pt-size {
  padding-top: 15px !important;
}

.pt-size {
  padding-top: 20px !important;
}

.pt-size {
  padding-top: 25px !important;
}

.pt-size {
  padding-top: 30px !important;
}

.pt-size {
  padding-top: 35px !important;
}

.pb-size {
  padding-bottom: 5px !important;
}

.pb-size {
  padding-bottom: 10px !important;
}

.pb-size {
  padding-bottom: 15px !important;
}

.pb-size {
  padding-bottom: 20px !important;
}

.pb-size {
  padding-bottom: 25px !important;
}

.pb-size {
  padding-bottom: 30px !important;
}

.pb-size {
  padding-bottom: 35px !important;
}

.pl-size {
  padding-left: 5px !important;
}

.pl-size {
  padding-left: 10px !important;
}

.pl-size {
  padding-left: 15px !important;
}

.pl-size {
  padding-left: 20px !important;
}

.pl-size {
  padding-left: 25px !important;
}

.pl-size {
  padding-left: 30px !important;
}

.pl-size {
  padding-left: 35px !important;
}

.pr-size {
  padding-right: 5px !important;
}

.pr-size {
  padding-right: 10px !important;
}

.pr-size {
  padding-right: 15px !important;
}

.pr-size {
  padding-right: 20px !important;
}

.pr-size {
  padding-right: 25px !important;
}

.pr-size {
  padding-right: 30px !important;
}

.pr-size {
  padding-right: 35px !important;
}

.m-size {
  margin: 5px;
}

.m-size {
  margin: 10px;
}

.m-size {
  margin: 15px;
}

.m-size {
  margin: 20px;
}

.m-size {
  margin: 25px;
}

.m-size {
  margin: 30px;
}

.m-size {
  margin: 35px;
}

.mx-size {
  margin: 0px 5px !important;
}

.mx-size {
  margin: 0px 10px !important;
}

.mx-size {
  margin: 0px 15px !important;
}

.mx-size {
  margin: 0px 20px !important;
}

.mx-size {
  margin: 0px 25px !important;
}

.mx-size {
  margin: 0px 30px !important;
}

.mx-size {
  margin: 0px 35px !important;
}

.my-size {
  margin: 5px 0px !important;
}

.my-size {
  margin: 10px 0px !important;
}

.my-size {
  margin: 15px 0px !important;
}

.my-size {
  margin: 20px 0px !important;
}

.my-size {
  margin: 25px 0px !important;
}

.my-size {
  margin: 30px 0px !important;
}

.my-size {
  margin: 35px 0px !important;
}

.mt-size {
  margin-top: 5px !important;
}

.mt-size {
  margin-top: 10px !important;
}

.mt-size {
  margin-top: 15px !important;
}

.mt-size {
  margin-top: 20px !important;
}

.mt-size {
  margin-top: 25px !important;
}

.mt-size {
  margin-top: 30px !important;
}

.mt-size {
  margin-top: 35px !important;
}

.mb-size {
  margin-bottom: 5px !important;
}

.mb-size {
  margin-bottom: 10px !important;
}

.mb-size {
  margin-bottom: 15px !important;
}

.mb-size {
  margin-bottom: 20px !important;
}

.mb-size {
  margin-bottom: 25px !important;
}

.mb-size {
  margin-bottom: 30px !important;
}

.mb-size {
  margin-bottom: 35px !important;
}

.ml-size {
  margin-left: 5px !important;
}

.ml-size {
  margin-left: 10px !important;
}

.ml-size {
  margin-left: 15px !important;
}

.ml-size {
  margin-left: 20px !important;
}

.ml-size {
  margin-left: 25px !important;
}

.ml-size {
  margin-left: 30px !important;
}

.ml-size {
  margin-left: 35px !important;
}

.mr-size {
  margin-right: 5px !important;
}

.mr-size {
  margin-right: 10px !important;
}

.mr-size {
  margin-right: 15px !important;
}

.mr-size {
  margin-right: 20px !important;
}

.mr-size {
  margin-right: 25px !important;
}

.mr-size {
  margin-right: 30px !important;
}

.mr-size {
  margin-right: 35px !important;
}

.container {
  width: 1200px;
  margin: 0px auto;
}

.container-full {
  width: 100%;
}

.col-1 {
  width: calc((100% /12)*1);
}

.col-2 {
  width: calc((100% /12)*2);
}

.col-3 {
  width: calc((100% /12)*3);
}

.col-4 {
  width: calc((100% /12)*4);
}

.col-5 {
  width: calc((100% /12)*5);
}

.col-6 {
  width: calc((100% /12)*6);
}

.col-7 {
  width: calc((100% /12)*7);
}

.col-8 {
  width: calc((100% /12)*8);
}

.col-9 {
  width: calc((100% /12)*9);
}

.col-10 {
  width: calc((100% /12)*10);
}

.col-11 {
  width: calc((100% /12)*11);
}

.col-12 {
  width: calc((100% /12)*12);
}

@media (max-width: 576px) {
  .container {
    width: 100%;
  }
  .col-xs-1 {
    width: calc((100% /12)*1);
  }
  .col-xs-2 {
    width: calc((100% /12)*2);
  }
  .col-xs-3 {
    width: calc((100% /12)*3);
  }
  .col-xs-4 {
    width: calc((100% /12)*4);
  }
  .col-xs-5 {
    width: calc((100% /12)*5);
  }
  .col-xs-6 {
    width: calc((100% /12)*6);
  }
  .col-xs-7 {
    width: calc((100% /12)*7);
  }
  .col-xs-8 {
    width: calc((100% /12)*8);
  }
  .col-xs-9 {
    width: calc((100% /12)*9);
  }
  .col-xs-10 {
    width: calc((100% /12)*10);
  }
  .col-xs-11 {
    width: calc((100% /12)*11);
  }
  .col-xs-12 {
    width: calc((100% /12)*12);
  }
}
@media (min-width: 576px) {
  .container {
    width: 100%;
  }
  .col-sm-1 {
    width: calc((100% /12)*1);
  }
  .col-sm-2 {
    width: calc((100% /12)*2);
  }
  .col-sm-3 {
    width: calc((100% /12)*3);
  }
  .col-sm-4 {
    width: calc((100% /12)*4);
  }
  .col-sm-5 {
    width: calc((100% /12)*5);
  }
  .col-sm-6 {
    width: calc((100% /12)*6);
  }
  .col-sm-7 {
    width: calc((100% /12)*7);
  }
  .col-sm-8 {
    width: calc((100% /12)*8);
  }
  .col-sm-9 {
    width: calc((100% /12)*9);
  }
  .col-sm-10 {
    width: calc((100% /12)*10);
  }
  .col-sm-11 {
    width: calc((100% /12)*11);
  }
  .col-sm-12 {
    width: calc((100% /12)*12);
  }
}
@media (min-width: 992px) {
  .container {
    width: 100%;
  }
  .col-md-1 {
    width: calc((100% /12)*1);
  }
  .col-md-2 {
    width: calc((100% /12)*2);
  }
  .col-md-3 {
    width: calc((100% /12)*3);
  }
  .col-md-4 {
    width: calc((100% /12)*4);
  }
  .col-md-5 {
    width: calc((100% /12)*5);
  }
  .col-md-6 {
    width: calc((100% /12)*6);
  }
  .col-md-7 {
    width: calc((100% /12)*7);
  }
  .col-md-8 {
    width: calc((100% /12)*8);
  }
  .col-md-9 {
    width: calc((100% /12)*9);
  }
  .col-md-10 {
    width: calc((100% /12)*10);
  }
  .col-md-11 {
    width: calc((100% /12)*11);
  }
  .col-md-12 {
    width: calc((100% /12)*12);
  }
}
@media (min-width: 1200px) {
  .col-lg-1 {
    width: calc((100% /12)*1);
  }
  .col-lg-2 {
    width: calc((100% /12)*2);
  }
  .col-lg-3 {
    width: calc((100% /12)*3);
  }
  .col-lg-4 {
    width: calc((100% /12)*4);
  }
  .col-lg-5 {
    width: calc((100% /12)*5);
  }
  .col-lg-6 {
    width: calc((100% /12)*6);
  }
  .col-lg-7 {
    width: calc((100% /12)*7);
  }
  .col-lg-8 {
    width: calc((100% /12)*8);
  }
  .col-lg-9 {
    width: calc((100% /12)*9);
  }
  .col-lg-10 {
    width: calc((100% /12)*10);
  }
  .col-lg-11 {
    width: calc((100% /12)*11);
  }
  .col-lg-12 {
    width: calc((100% /12)*12);
  }
}
#header {
  height: 85px;
  background-color: rgb(19, 19, 19);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  position: fixed;
  width: 100%;
  font-family: "Inter", sans-serif;
}
#headerafter {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(60, 60, 60, 0.5);
}
#header .header-navbar .header-navbar-menu {
  position: relative;
  z-index: 3;
}
#header .header-navbar .header-navbar-menu ul li a {
  color: white;
  font-size: 16px;
  font-weight: 600;
}
#header .header-navbar .header-navbar-menu ul li button {
  padding: 16px 32px;
  border-radius: 50px;
  background-image: linear-gradient(90deg, #fc00ff, #00dbde);
}
#header .header-navbar .header-navbar-menu .header-navbar-logo ul img {
  width: 78px;
  padding-top: 35px;
  padding-left: 35px;
  font-size: 16px;
  font-weight: 600;
}

.row {
  background: black;
  color: white;
}
.row .price {
  font-size: 1.8em;
  line-height: 1;
  font-weight: 700;
}
.row .discount {
  font-size: 18px;
  font-weight: 300;
  text-decoration: line-through;
}

#hero .box {
  width: 400px;
  height: 400px;
  background: brown;
}

#hero .box {
  width: 400px;
  height: 400px;
  background: brown;
}

#header {
  height: 85px;
  background-color: rgb(19, 19, 19);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  position: fixed;
  width: 100%;
  font-family: "Inter", sans-serif;
}
#headerafter {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(60, 60, 60, 0.5);
}
#header .header-navbar .header-navbar-menu {
  position: relative;
  z-index: 3;
}
#header .header-navbar .header-navbar-menu ul li a {
  color: white;
  font-size: 16px;
  font-weight: 600;
}
#header .header-navbar .header-navbar-menu ul li button {
  padding: 16px 32px;
  border-radius: 50px;
  background-image: linear-gradient(90deg, #fc00ff, #00dbde);
}
#header .header-navbar .header-navbar-menu .header-navbar-logo ul img {
  width: 78px;
  padding-top: 35px;
  padding-left: 35px;
  font-size: 16px;
  font-weight: 600;
}

.row {
  background: black;
  color: white;
}
.row .price {
  font-size: 1.8em;
  line-height: 1;
  font-weight: 700;
}
.row .discount {
  font-size: 18px;
  font-weight: 300;
  text-decoration: line-through;
}