//butun root layiheler ucun hazirlanan kodlar
@import 'root/root';
//aktiv layiheler ucun hazirlanan kodlar
@import 'app/app';



// .label, .menu{
//     border: 1px solid red;
// }

// $bg-blue:rgb(0, 0, 49);

// body{
//     background: $bg-blue
// }