#header {
  /* border: 1px solid red; */
  /* height: 100vh; */
  background: rgba(60,60,60,.5);
  /* background-image: url(../images/image1.jpeg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
#headerafter {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(60, 60, 60, 0.5);
}
#header .header-navbar {
  border-bottom: 1px solid gray;
}
#header .header-navbar .header-navbar-menu {
  position: relative;
  z-index: 3;
}
#header .header-navbar .header-navbar-menu ul li a {
  color: black;
  text-decoration: none;
}

#hero .box {
  width: 400px;
  height: 400px;
  background: brown;
}

#hero .box {
  width: 400px;
  height: 400px;
  background: brown;
}

#header {
  /* border: 1px solid red; */
  height: 100vh;
  /* background-image: url(../images/image1.jpeg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
#headerafter {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(60, 60, 60, 0.5);
}
#header .header-navbar {
  border-bottom: 1px solid gray;
}
#header .header-navbar .header-navbar-menu {
  position: relative;
  z-index: 3;
}
#header .header-navbar .header-navbar-menu ul li a {
  color: black;
  text-decoration: none;
}