#about{.container{ max-width: 1280px;

    .row{ padding-left: 35px;
        padding-right: 35px;
        h2{ color: rgb(197, 112, 180);
            margin-top: 20px;
            margin-bottom: 20px;
            padding-left: 300px;
            font-size: 2em;
            line-height: 1.2;
            font-weight: 500;
            max-width: 600px;            
            }
         }
         h3{font-weight: 400;
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 1.4em;
            color: #ffff;
         }
         p{font-size: 0.8em;
            font-weight: 300;
            color: #c4c4c4;
         }
        .gradient{max-width: 600px;
            text-align: center;                    
            
        }
    
                
    .column-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;        
        margin-top: 40px;
        grid-column-gap: 40px;
        grid-row-gap: 65px;
        .module-card{
            .image-box{width: 100%;
                
                img{border-radius: 10px;
                    width: 100%;
                }                       
            }
        }
    }    
       
    
}}