#header{
    height: 85px;
    background-color: rgb(19, 19, 19);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    font-family: $main-font;
    &after{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        background: rgba(60,60,60,.5);
    }
    .header-navbar{
    border-bottom: 1px solid gray;
    .header-navbar-menu{
        position: relative;
        z-index: 3;
            ul{@extend .flex;
                @extend .align-items-center;
                
                li{
                    a{ color: white;
                       @extend .px-15;
                       font-size: 1em;
                       font-weight: 600;
                     }
                }
            }
    
}
}
}
.header-navbar-logo{
    ul{
        img{
            width: 78px;
        }
    }
}
