#header{
    height: 85px;
    background-color: rgb(19, 19, 19);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    position: fixed;
    width: 100%;
    font-family: $main-font;
    &after{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        background: rgba(60,60,60,.5);
    }
    .header-navbar{
    .header-navbar-menu{
        position: relative;
        z-index: 3;
             ul{@extend .flex;
                @extend .align-items-center;
                @extend .justify-content-end; 
                @extend .p-size;         
                li{
                    a{ color: white;
                       @extend .px-15;
                       font-size: 16px;
                       font-weight: 600;                       
                     }
                     button{
                        padding: 16px 32px;
                        border-radius: 50px;
                        background-image: linear-gradient(90deg, #fc00ff, #00dbde);
                     }
                }
            }
    
}
}
}
    .header-navbar-logo{
        ul{ @extend .p-size;
            img{
                width: 78px;
                padding-left: 35px
                font-size: 16px;
                font-weight: 600;
            }
        }
    }


