#hero{.container-full{
    background: black;
    .row{background: black;
         color: white;
         
                 
        .price{
            font-size: 2em;
            line-height: 1;
            font-weight: 700;
        }
        .discount{
            font-size: 18px;
            font-weight: 300;
            text-decoration: line-through;
            margin-left: 30px;
        }
        h1{font-size: 3em;
            padding-top: 80px;
            margin: 0.65em;
            margin-bottom: 20px;
            line-height: 1.2em;
            font-family: Inter, sans-serif;
            font-weight: 700;            
        }
        p{font-family: Inter, sans-serif;
            line-height: 1.6;
            margin-bottom: 30px;
            margin-left: 30px;
        }
    .prices{display: flex;
        align-items: flex-end;
        font-weight: 300;
        margin-bottom: 40px;
        margin-left: 30px;
    }
    .buttons{ 
        .buybutton{padding: 18px 55px;
        border-radius: 50px;
        font-weight: 600;
        font-size: 16px;
        margin-left: 30px;
        color: white;
        background-image: linear-gradient(90deg, #fc00ff, #00dbde);
        } 
        .introbutton{padding: 18px 55px;
            border-radius: 50px;
            font-weight: 600;
            color: white;
            background: black;
            border-style: solid;
            border-width: 1px;
            border-color: #c4c4c4;
            margin-left: 30px;
        }
    }

}
}
}