#wf-section{
            padding-top: 80px;
            padding-bottom: 80px;
            h1{
                color: #c4c4c4;
                font-weight: 300;
                padding-left: 20px;
            }
        .row{
            padding-left: 150px;
            padding-right: 150px;
            padding-bottom: 20px;
        }
    .review-card{
                color: white;
                padding: 20px;
                margin: 20px;
                border-radius: 10px;
                background-color: #333;
                display: flex;
            .photo{width: 60px;
                height: 60px;
                } 
            .card-name-wrap{
                display: flex;
                margin-right: 1px;
                margin-bottom: 15px;
            }
            .card-content{
                margin-left: 18px;
                p{
                    font-size: 0.8em;
                    margin-bottom: 20px;
                    color: #c4c4c4;
                }
            }
            .star{
                height: 20px;
                width: 20px;
                margin-left: 3px;
                box-sizing: border-box;
            }
    }
}