#about{.container{position: relative;
                    max-width: 1280px;

    .row{ color: white;
        text-align: center;
        h2{background-image: linear-gradient(90deg, #fc00ff, #00dbde);
            color: #fff;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 2em;
            line-height: 1.2;
            font-weight: 500;
            }
         }
         h3{
            color: white;
         }
         p{
            color: white;
         }
        .gradient{max-width: 600px;
             text-align: center;background-image: linear-gradient(90deg, #fc00ff, #00dbde);
             color: #fff;
        }
    .module-card{
                display: flex;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 20px;
                border-radius: 10px;
                
    .column-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
                gap: 20px;
                border-radius: 10px;
    }    
        .image-box{width: 200px;
           
            
        }
    }
}}