@import 'common';
@import 'about';
@import 'sections/sections';
@import 'sections/hero';
@import 'sections/header';
@import 'sections/wf-section';

body{
    font-family: $main-font;
    background: black;

}